.popup__content-form-input {
	width: 358px;
	height: 27px;
	margin-top: 28px;
	padding: 0;
	border: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	font-size: 14px;
	font-weight: normal;
}

.popup__content-form-input:focus{
	border: 3px solid blue;
}

@media screen and (max-width: 540px) {
	.popup__content-form-input {
		 width: 238px; 
	}
}