.footer {
  padding-bottom: 60px;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 36px;
    width: 88%;
  }
}

@media screen and (max-width: 475px) {
  .footer {
    padding-top: 48px;
  }
}
