.elements__card-like-button_active {
	width: 22px;
	height: 19px;
	justify-self: flex-end;
	background-image: url('../../../../images/like-active.svg');
	border: none;
	background-color: transparent;
	transition: 0.2s linear;
	cursor: pointer;
}