.elements__card-like-button {
	width: 22px;
	height: 19px;
	justify-self: flex-end;
	background-image: url('../../../images/like.svg');
	border: none;
	background-color: white;
	transition: 0.2s linear;
	cursor: pointer;
	background-repeat: no-repeat;
	
}

.elements__card-like:hover {
	opacity: 0.5;
}